body {
  font-family: sans-serif;
  background: #280a48;
  color: #fff;
  margin: 0;
  padding: 2rem;
}

button {
  background-color: #7925d3;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
